@font-face {
  font-family: Montserrat;
  font-weight: 200;
  src: url(../fonts/montserrat-extralight.ttf);
}

@font-face {
  font-family: Montserrat;
  font-weight: 300;
  src: url(../fonts/montserrat-light.ttf);
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url(../fonts/montserrat-regular.ttf);
}

@font-face {
  font-family: Raleway;
  font-weight: 400;
  src: url(../fonts/raleway-regular.ttf);
}

@font-face {
  font-family: Raleway;
  font-weight: 500;
  src: url(../fonts/raleway-medium.ttf);
}

@font-face {
  font-family: Raleway;
  font-weight: 600;
  src: url(../fonts/raleway-semibold.ttf);
}

@font-face {
  font-family: Raleway;
  font-weight: 700;
  src: url(../fonts/raleway-bold.ttf);
}

@font-face {
  font-family: Raleway;
  font-weight: 800;
  src: url(../fonts/raleway-extrabold.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url(../fonts/roboto-regular.ttf);
}

body {
  margin: 0;
}

.container {
  width: 1920px;
  margin: 0 auto;
  min-height: 6970px;
}

.main-header {
  width: 100%;
  min-height: 1024px;
  background-image: url(../img/bg_photo_11949.png);
  background-repeat: no-repeat;
}

.main-header-top {
  display: flex;
  padding: 40px 374px 0 376px;   
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 181px;
  text-decoration: none;
  color: #fff;
}

.logo-svg {
  fill: currentColor;
}

.logo-txt {
  font-family: Raleway;
  font-size: 34px;
  font-weight: 400;
  text-align: right;
}

.logo:hover{  
  color: #998675;
}

.menu-nav {
  margin-left: 219px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.menu-li a {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  margin-right: 30px;
}

label,
#menu {
  display: none;
}

.menu-li a:hover {
  color: #998675;
}

.menu-li a:active {
  color: #545454;
}

.basket {
  background: none;
  border: none;
  margin-left: 63px;
  margin-right: 28px;
}

.svg-basket {
  fill:currentColor;
  color: #ffffff;
}

.svg-basket:hover,
.svg-basket:active {
  color: #998675;
}

.search-icon-form {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 12px 0 0 0;
  position: relative; 
} 

.search-icon-form__label {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url('../img/icon_search_12272.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

.search-icon-form__label:hover {
    background-color: #998675;
}

.search-icon-form__label:active {
    background-color: bisque;
}

.search-icon-form__input {
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 40px;
  left: -119px;
  color: #fff;
  font-size: 16px;
  font-family: Arial;
  text-transform: capitalize;
}

.search-icon-form__input:focus {
  width: 150px;
  min-height: 20px;
  transition: width 1s ease;
  border: 2px solid #fff;
}

input[type="search"]:focus {
  width: 200px;
  transition: width 1s ease-out;
  background-position: right;
  border: 1px solid gray;
}

.carusel {
  margin: 0 auto;
  width: 100%;
  margin-top: 285px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carusel-btn {
  display: block;
  width: 60px;
  height: 60px;
  border: none;
  border-top: 4px solid beige;
  border-right: 4px solid beige;
  box-sizing: border-box;
  transform: rotate(45deg);
}

.carusel-btn:hover {
  border: none;
  border-top: 4px solid #998675;
  border-right: 4px solid #998675;
}

.carusel-btn:active {
  border: none;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;  
}
.carusel-btn:nth-of-type(1) {
  margin: 0;
  transform: rotate(225deg);
}

.carusel-btn:nth-of-type(2) {
  margin: 0;
}

.carusel-txt {
  width: 589px;
  text-align: center;
  margin: 0 475px 0 475px;
}

.carusel-title {
  margin: 0;
  font-family: Raleway;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
}

.carusel-title-2 {
  margin: 0;
  font-family: Raleway;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  color: #ffffff;
  padding: 14px 0 19px 0;
}

.carusel-paragraph {
  margin: 0;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
}

.carusel-txt-button {
  display: block;
  width: 170px;
  height: 53px;
  background-color: #998675;  
  text-decoration: none;
  padding-top: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 52px;
  border: 1px solid #998675;
  box-sizing: border-box;
  border-radius: 5px;
}

.carusel-txt-button:hover .carusel-txt-button-title {
  color: #4e3427;
}
.carusel-txt-button:active .carusel-txt-button-title {
  color: black;
}

.carusel-txt-button:active {
  background-color: beige;
}

.carusel-txt-button-title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.carusel-pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 298px 5px 0px 5px;
}

.carusel-pagination-item {
  display: block;
  width: 11px;
  height: 11px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ccc;
  border: 2px solid transparent;
}

.carusel-pagination-item:nth-of-type(2){
  background-color: #2d3236;
  border: 2px solid #998675;
}

.carusel-pagination-item:hover,
.carusel-pagination-item:active {
  background-color: black;
  border: 2px solid #998675;
  transform: scale(1.2);
}

.content {
  width: 100%;
}

.section-features {
  display: flex;
  margin: 80px 376px 80px 378px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  padding: 10px 10px 0 10px;
}

.features:after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background-color: whitesmoke;
}

.features:hover .features-icon {
  fill: gold;
}

.features:hover .features-title {
  color: gold;
}

.features:hover:after {
  background-color: gold;
}

.features-icon {
  display: flex;
  fill: #5f5f5f;
  margin: 0 0 20px 0;
}

.features-title {
  width: 100%;
  margin: 0 0 10px 0;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.features-txt {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
}

.multi {
  width: 100%;
  min-height: 700px;
  background-color: whitesmoke;
}

.multi-foto {
  min-height: 770px;
  margin: 0 344px 0 346px;
  background-image: url('../img/browser_center_10768.png'),
    url('../img/browser_left_10769.png'),
    url('../img/browser_right_10770.png');
  background-size: 770px 482px, 770px 400px, 770px 400px;
  background-repeat: no-repeat;
  background-position: bottom center, bottom left, bottom right;
}

.multi-header {
  padding: 83px 0 24px 0;
  text-align: center;
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.multi-text {
  margin: 0;
  display: block;
  width: 757px;
  margin-left: 220px;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;  
}

.aside-main {
  margin-top: -3px;
  display: flex;
  width: 100%;
  min-height: 150px;
  background-color: #f4f5f8;
  background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
}

.aside-header {
  margin: 0;
  padding: 48px 0 0 376px; 
  font-family: Raleway;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
}

.header-word {
  font-family: Raleway;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #c7b299;
}

.aside-text {
  margin: 0;
  padding: 8px 0 0 376px;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855;
}

.link-purchase {
  margin: 50px 374px 50px 470px;
  display: block;
  min-height: 50px;
  text-decoration: none; 
  background-color: #998675;
  border-radius: 3.0px;
}

.purchase {
  margin: 0;
  display: block;
  padding: 15px 28px 0 28px;
  font-family: Raleway;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
}

.link-purchase:hover .purchase {
  color: #4e3427;
}

.link-purchase:active {
  color: black;
  background-color: beige;
}

.projects {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-title {
  margin: 0;
  margin-top: 81px;
  margin-bottom: 24px;
  width: 100%;
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  text-align: center;
}

.projects-paragraph {
  width: 757px;
  margin-bottom: 40px;
  min-height: 43px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: center;
}

.projects-buttons {
  width: 100%;
  margin: 0 0 40px 658px;
}

.button1 {
  width: 70px;
  min-height: 32px;
  margin-right: 10px;  
  border-radius: 3px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
  background-color: #fff;
}

.button2 {
  width: 120px;
  min-height: 32px;
  margin-right: 10px;
  border-radius: 3px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
  background-color: #fff;
}

.button3 {
  width: 120px;
  min-height: 32px;
  margin-right: 10px;
  border-radius: 3px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
  background-color: #fff;
}

.button4 {
  padding: 0 24px 0 24px;
  box-sizing: border-box;
  min-height: 32px;
  margin-right: 10px;
  border-radius: 3px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
  background-color: #fff;
}

.button5 {
  padding: 0 24px 0 24px;
  box-sizing: border-box;
  min-height: 32px;
  border-radius: 3px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
  background-color: #fff;
}

.button1:hover,
.button2:hover,
.button3:hover,
.button4:hover,
.button5:hover {
  background-color: #998675;
  color: #fff;
}

.button1:active,
.button2:active,
.button3:active,
.button4:active,
.button5:active {
  background-color: beige;
  color: #4e3427;
}

.article {
  position: relative;
  margin-right: 30px;
}

.article:hover .article-btn-link {
  display: block;
}

.article:hover .article-btn-search {
  display: block;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  padding: 10px 10px 0 10px;
}

.features:after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background-color: whitesmoke;
}

.features:hover .features-icon {
  fill: gold;
}

.features:hover .features-title {
  color: gold;
}

.features:hover:after {
  background-color: gold;
}

.features-icon {
  display: flex;
  fill: #5f5f5f;
  margin: 0 0 20px 0;
}

.article:hover .article-photo {
  filter: brightness(20%);
}

.article:hover .article-txt-wrapper {
  background-color: #4e3427;
}

.article:hover .article-txt-wrapper:before {
  border-bottom: 10px solid #4e3427;
}

.article:hover .article-txt {
  color: #c7b299;
}

.article:hover .article-title {
  color: #fff;
}

.article-photo {
  display: block;
  width: 100%;
}

.article-txt-wrapper {
  width: 100%;
  padding: 30px 0 0 28px;
  box-sizing: border-box;
  min-height: 100px;
  position: relative;
  background-color: whitesmoke;
}

.article-txt-wrapper:before {
  content: "";
  border: 10px solid transparent;	
  border-bottom: 10px solid whitesmoke;
  position: absolute;
  top: -20px;
  left: 19px;
}

.article-title {
  display: block;
  margin-bottom: 14px;
  font-family: Raleway;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
}

.article-txt {
  display: block;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
}

.article-btn-link,
.article-btn-search {
  width: 20px;
  height: 20px;
  display: none;
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 45%
}

.article-btn-link {
  background-image: url('../img/link_10955.png');
  left: 35%;
}

.article-btn-search {
  background-image: url('../img/lupa_10956.png');
  right: 35%;
}

.article1 {
  display: flex;
  margin: 0 0 30px 50px;
}

.article2 {
  display: flex;
  margin: 0 328px 40px 383px;
}

.projects-button {
  width: 170px;
  height: 50px;
  background-color: #998675;
  border-radius: 3.0px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  margin-bottom: 80px;
}

.projects-button:hover {
  background-color: #fff;
  color: #998675;
  border: 2px solid beige;
  box-sizing: border-box;
}

.projects-button:active {
  background-color: beige;
  color: black;
}

.video {
  margin: 0;
  width: 100%;
  height: 705px;
  display: flex;
}

.video-play {
  object-fit: cover;
  position: relative;
}

.video-txt {
  position: absolute;
  width: 553px;
  min-height: 300px;
  margin-top: 210px;
  margin-left: 685px;
}

.video-play-btn {
  display: flex;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 226px;
}

.video-play-btn-icon {
  margin: auto;
  fill: #fff;
}

.video-play-btn:hover .video-play-btn-icon {
  fill: coral;
}

.video-play-btn:active .video-play-btn-icon {
  fill: bisque;
}

.video-title {
  text-align: center;
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
}

.video-paragraph {
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
}

.video-time {
  margin-left: 256px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
}

.video-play-btn--hide {
  display: none;
}

.excellent {
  margin-top: -3px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 695px;
  background-color: #fbfaf8;
  background-image: url('../img/iphone_in_hand_10962.png');
  background-repeat: no-repeat;
  background-position: 423px 106px;
}

.excellent-txt {
  width: 675px;
  margin-top: 195px;
  margin-left: 875px;
}

.excellent-txt-title {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin: 0;
  margin-bottom: 40px;
}

.excellent-txt-paragraph {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}

.excellent-txt-list {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  color: #8c8c8c;
  margin-left: 10px;
  margin-top: 45px;
  list-style-type: none;
}

.excellent-txt-list li:before {
  content: ">";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #c7b295;
  text-align: center;
  line-height: 15px;
  color: #fff;
  margin-right: 40px;
}

.statictic {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 300px;
  box-sizing: border-box;
  background-color: #f4f5f8;
  background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
}

.statictic-block {
  width: 145px;
  margin: 69px 36px 69px 36px;  
}

.statictic-block:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 30px 0 0 60px;
}

.statictic-icon {
  display: flex;
  fill: #c7b299;
  margin: 0 0 20px 0;
  justify-content: center;
  margin-left: 45px;
}

.statictic-icon-title {
  font-family: Montserrat;
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
}

.statictic-icon-txt {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #c7b299;
  text-align: center;
}

.recent-post {
  width: 100%; 
}

.recent-post-title {
  margin: 0;
  margin-top: 82px;
  margin-bottom: 30px;
  text-align: center;
  display: block;
  width: 100%;
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.recent-post-paragraph {
  display: block;
  width: 757px;
  text-align: center;
  margin: 0 auto;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin-bottom: 40px;
}

.recent-block {
  margin: 0 0 40px 374px;
}

.recent-post-card {
  margin: 0;
  width: 370px;
  height: 395px;
  border: 1.0px solid #f8f8f8;
  display: inline-block;
  margin-right: 30px;
}

.recent-post-card1 {
  position: relative;
  width: 370px;
  height: 220px;
}

.recent-post-txt1 {
  position: absolute;
  width: 50px;
  height: 35px;
  background-color: #363636;
  font-family: Montserrat;
  font-size: 24px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 9px;
  box-sizing: border-box;
}

.recent-post-card:hover .recent-post-txt1 {
  background-color: #c7b299; 
}

.recent-post-card:hover .recent-post-txt2 {
  background-color: #998675; 
}

.recent-post-card:hover .recent-post-text {
  background-color: #4e3427;
}

.recent-post-card:hover .recent-post-title1 {
  color: #c7b299;
}

.recent-post-card:hover .recent-post-title2 {
  color: #fff;
}

.recent-post-txt2 {
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #252525;
  font-family: Roboto;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  margin: 55px 0 0 20px;
  text-align: center;
}

.recent-post-title1 {
  font-family: Raleway;
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #555555;
  padding: 30px 0 0 29px;
  box-sizing: border-box;
}

.recent-post-title2 {
  margin: 0;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #8c8c8c;
  padding: 19px 0 0 29px;
  box-sizing: border-box;
}

.recent-link {
  display: block;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
  padding: 27px 0 15px 29px;
  box-sizing: border-box;
}

.recent-link:before {
  content: "";
  display: block;
  border: 5px solid transparent;
  border-left: 5px solid #ebebeb;
  position: absolute;
  margin: 5px 0 0 85px;
}

.buttons {
  margin: 0 0 80px 935px;
}

.recent-button {
  border: none;
  background-color: #fff;
  padding: 0 4px 0 4px;
}

.recent-button:hover,
.recent-button:active {
  background-color: saddlebrown;
}

.recent-button1 {
  fill: #d1d1d1;
} 

.recent-button2 {
  fill: #c7b299;
}

.partners {
  margin: 0 auto;
  display: block;
  width: 100%;
  min-height: 489px;
  background-image: url(../img/bg_photo_11122.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.partner1 {
  margin-left: 406px;
  margin-right: 90px;
}

.partner2 {
  margin-right: 90px;
}

.partner3 {
  margin-right: 90px;
}

img[alt="partner1"] {
  margin-bottom: 30px;
}

img[alt="partner2"] {
  margin-top: 140px;
}

img[alt="partner3"] {
  margin-bottom: 30px;
}

img[alt="partner4"] {
  margin-bottom: 10px;
}

img[alt="partner1"]:hover,
img[alt="partner2"]:hover,
img[alt="partner3"]:hover,
img[alt="partner4"]:hover {
  background-color: #998675;
}

.footer1 {
  width: 100%;
  min-height: 508px;
  background-color: #191919;
  display: flex;
}

.footer-div1 {
  width: 267px;
  min-height: 284px;
  margin: 80px 42px 144px 376px;
}

.footer-div1-txt {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #555555;
  margin: 29px 0 33px 0;
}

.footer-recent-link {
  display: block;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #fff;
  padding: 0;
  box-sizing: border-box;
}

.footer-recent-link:hover {
  color: #998675;
}

.footer-recent-link:active {
  color: bisque;
}

.footer-recent-link:before {
  content: "";
  display: block;
  border: 5px solid transparent;
  border-left: 5px solid #ebebeb;
  position: absolute;
  margin: 5px 0 0 85px;
}

.footer-div-title {
  margin: 0;
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
  display: block;
  width: 100%;
}
.footer-div2 {
  width: 270px;
  min-height: 319px;
  margin: 108px 39px 81px 0;
}

.footer-article {
  display: block;
  border: none;
  border-bottom: 2px solid #252525;
  text-decoration: none;
}

.footer-article:hover .footer-time,
.footer-article3:hover .footer-time {
  color: #fff;
}

.footer-article:hover .footer-article-txt,
.footer-article3:hover .footer-article-txt {
  color: #c7b299;
}

.footer-article:hover {
  border-bottom: 1px solid #555555;
}

.footer-article3 {
  display: block;
  border: none;
  text-decoration: none;
}

.footer-time {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
  margin: 10px 0 0 0;
  box-sizing: border-box;
  display: block;
}

.footer-article-txt {
  margin: 0;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  margin-bottom: 21px;
}

.footer-div3 {
  width: 277px;
  min-height: 319px;
  margin: 107px 33px 101px 0;
}

.footer-div3-article {
  display: block;
  border: none;
  border-bottom: 2px solid #252525;
}

.footer-div3-txt {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  display: block;
  margin: 10px 0 0 0 ;
}

.footer-div3-txt3 {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #959595;
}

.footer-div-word {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #00bff3;
}

.footer-div3-time {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
  display: block;
  padding-bottom: 23px;
  box-sizing: border-box;
}

.footer-div4 {
  width: 288px;
  min-height: 255px;
  margin: 107px 374px 146px 0;
}

img[alt="bg-1"] {
  margin: 0 6px 6px 0;
  box-sizing: border-box;
}

img[alt="bg-1"]:hover {
  outline: 1px solid #00bff3;
  box-sizing: border-box;
}

.footer2 {
  width: 100%;
  min-height: 111px;
  background-color: #111111;
  display: flex;
}

.footer2-txt {
  font-family: Montserrat;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  display: block;
  margin: 45px 10px 0 376px;
}

.footer2-link1 {
  text-decoration: none;
  display: block;
  border: none;
  border-left: 1px solid #252525;
  border-right: 1px solid #252525;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  font-family: Montserrat;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  min-height: 14px;
  margin: 45px 0 52px 0;
}

.footer2-link2 {
  text-decoration: none;
  display: block;
  color: #c7b299;
  font-family: Montserrat;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  margin: 45px 10px 52px 10px;
}

.footer2-link3 {
  text-decoration: none;
  display: block;
  border: none;
  border-left: 1px solid #252525;
  padding: 0 0 0 10px;
  box-sizing: border-box;
  font-family: Montserrat;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  margin: 45px 449px 52px 0;
}

.footer2-link4 {
  text-decoration: none;
  display: block;
  font-family: Montserrat;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  border: none;
  border-right: 1px solid #252525;
  padding-right: 10px;
  box-sizing: border-box;
  margin: 45px 0 52px 0; 
}

.footer2-link5 {
  text-decoration: none;
  display: block;
  font-family: Montserrat;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555; 
  margin: 45px 0 52px 10px;
}

.footer2-span {
  font-family: Montserrat;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #959595;
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        min-height: auto;
        font-size: 7px;
    }
    
    .main-header {
        width: 100%;
        min-height: auto;
    }
    
    .main-header-top {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .logo { 
        margin: 10px 0 10px 60px;
    }
    
    .menu {
        margin-left: 0;
    }
    
    .menu-nav {
        margin: 15px 0 0 170px;
    }
    
    .menu-list {
        flex-wrap: wrap;
    }
    
    label {
        display: block;
        width: 50px;
        height: 50px;
        border: 1px solid black;
        background-image:  url('https://cdn3.iconfinder.com/data/icons/mobile-friendly-ui/100/menu-128.png');
        background-size: 100%;
        background-repeat: ;
        background-position: 0 0;
        background-color: #fff;
    }
  
    .menu {
        height: 0;
        visibility: hidden;
        margin: 0 auto;
        width: 100%;
        flex-direction: column;
    }
    .menu li {
        text-align: center;
        background-color: #ccc;
        margin-top: 2px;
    }
  
    .menu-li a {
        margin: 0;
    }
    
    input[type="checkbox"]:checked ~ .menu {
        height: auto;
        visibility: visible;
    }
    
    .basket {
        margin: 0; 
        display: none;
    }
    
    .search-icon-form {
        display: none;
    }
    
    .carusel {
        display: none;
        width: 100%;
    }
    
    .section-features {
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
    }
    
    .features {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 200px;
        padding: 10px 10px 0 10px;
    }
    
    .multi {
        width: 100%;
        min-height: 330px;
        padding: 20px 20px 0 20px;
        box-sizing: border-box;
    }
    
    .multi-header {
        padding: 0;
        margin: 0 0 20px 0;
    }
    
    .multi-foto {
        min-height: 330px;
        margin: 0;
        background-size: 300px 182px, 300px 100px, 300px 100px;
        background-position: bottom center, bottom left, bottom right;
    }
    
    .multi-text {
        margin: 0;
        width: 100%;
        margin-left: 0;
    }
    
    .aside-main {
        display: none;
        width: 100%;
    }
    
    .projects {
        width: 100%;
    }
    
    .projects-buttons {
        display: flex;
        justify-content: center;
        margin: 0 30px 10px 40px;
    }
    
    .video {
        display: none;
        width: 100%;
    }
    
    .article {
        display: none;
        width: 100%;
    }
    
    .projects-button {
        display: none;
        width: 100%;
    }
    
    .excellent {
        width: 100%;
        min-height: 438px;
        background-size: 150px;
        background-position: 50px 251px;
    }
    
    .excellent-txt {
        width: 100%;
        margin: 0;
    }
    
    .excellent-txt-title {
        text-align: center;
        margin: 20px;
    }
    
    .excellent-txt-paragraph {
        margin: 0 40px 0 40px;
    }
    
    .excellent-txt-list {
        margin: 40px 0 0 140px;
        font-size: 9px;
        line-height: 20px;
    }
    
    .excellent-txt-list li:before {
        margin-right: 10px;
    }
    
    .video {
        display: none;
        width: 100%;
    }
    
    .statictic {
        display: none;
        width: 100%;
    }
    
    .recent-post-title {
        margin: 30px 0;
    }
    
    .recent-post-paragraph {
        width: auto;
        margin: 0 20px 10px 20px;
    }
    
    .recent-block {
        margin: 0;
        flex-wrap: wrap;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    
    .recent-post-card {
        margin: 0 0 10px 0;
    }
    
    .buttons {
        margin: 0;
        display: none;
    }
    
    .partners {
        min-height: 150px;
        display: flex;
        justify-content: space-around;
    }
    
    .partner1 {
        height: 63px;
        margin: 45px 0px
    }
    
    .partner2 {
        margin: 30px 0;
        height: 105px;
    }
    
    .partner3 {
        margin: 45px 0;
        height: 65px;
    }
    
    .partner4 {
        margin: 45px 0;
        height: 82px;
    }
    
    img[alt="partner1"] {
        width: 105px;
        height: 63px;
    }
    
    img[alt="partner2"] {
        margin: 0;
        width: 105px;
        height: 105px;
    }
    
    img[alt="partner3"] {
        width: 105px;
        height: 65px;
    }
    
    img[alt="partner4"] {
        width: 105px;
        height: 82px;
    } 
    
    .footer1 {
        display: none;
        width: 100%;
    }
    
    .footer2 {
        flex-wrap: wrap;
    }
    
    .footer2-txt {
        margin: 50px 10px 50px 90px;
    }
    
    .footer2-link1 {
        margin: 50px 0 50px 0;
    }
    
    .footer2-link2 {
        margin: 50px 10px 50px 10px;
    }
    .footer2-link3 {
        margin: 50px 0 50px 0;
    }
    
    .footer2-link4 {
        margin-left: 120px;
        margin-top: 0;
    }
    
    .footer2-link5 {
        margin-top: 0;
    }
}
